.text {
  font-size: 1rem;
}

.textsmall {
  font-size: 12px;
  color: white;
}

.secBack {
  border-radius: 8px;
  background-color: #181717;
  padding: 0.4rem;
}

.synopsis {
  border-radius: 8px;
  background-color: #181717;
  padding: 0.4rem;
}

.btn{
    background-color: #121212;
    border-radius: 12px;
    color: rgb(104, 131, 238);
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #282626;
}
