.image {
  padding: 1em;
  padding-bottom: 1.1em;
  height: 265px;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
}

/* .button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 34, 34,0.7);
  border: 0;
  display: none;
  cursor: pointer;
} */

/* .buttonWrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} */

/* .buttonWrapper:hover{
  .button{
    display: flex;
  }
} */

.cardContainer {
  flex-direction: column;
  display: flex;
  width: 185px;
  margin: 1em;
  gap: 0.5rem;
  position: relative;
  box-sizing: border-box;
}

.cardContainer:hover {
  .cardDesc {
    display: flex;
  }
}

.cardDesc {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(36, 34, 34, 0.7);
}

.title{
  text-decoration: none;
  color: white;
}