.navbar{
    padding:0.5rem 5rem ; 
    padding-top: 1rem;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}


.menu{
    text-decoration: none;
    color:#454343;
}

.menu:hover{
    color: #ebebeb;
}

